@use "./_styles/hero";
@use "./_styles/monster";
@use "./_styles/abilities";
@use "./_styles/forms";
@use "./_styles/register";
@use "./_styles/reset";
@use "./_styles/navbar";
@use "./_styles/revenge";
@import "@splidejs/splide/css/core";

* {
  box-sizing: border-box;
}

html {
  @-moz-document url-prefix() {
    scrollbar-color: #e00000 #000000;
  }
}
header {
  color: #e00000;
}

body {
  background: #000;
  color: #e00000;
  font-weight: 400;
  b {
    font-weight: 700;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: bold;
  }

  &::-webkit-scrollbar {
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    background: #000000;
  }

  &::-webkit-scrollbar-thumb {
    background: #e00000;
    border: 4px solid #000000;
    border-radius: 8px;
  }
}
