.abilities__wrapper {
  // display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 16px;
  margin: 0 auto 226px auto;
  padding: 0 64px;
  width: 1450px;

  .abilities__header {
    font-family: "Impact";
    font-size: 64px;
    text-transform: uppercase;
    color: #e00000;
    text-align: center;
    margin-bottom: 64px; // Space between header and grid
  }

  .abilities-card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 1448px;
    height: 368px;
  }

  .abilities__card {
    display: flex;
    flex-direction: column;
    background: black;
    border: 2px solid #e00000;
    overflow: hidden;
    height: 368px; // Fixed height to maintain consistency
  }

  video,
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    flex-shrink: 0; // Prevents shrinking
    z-index: 1;
    display: block;
  }

  .abilities-card__header {
    flex: 0 0 60px; // Don't grow, fixed 60px height
    text-align: center;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .abilities-card__text {
    // flex: 1; // Takes remaining space
    font-size: 16px;
    line-height: 150%;
    font-style: italic;
    z-index: 2;
    font-family: "roboto";
    text-align: center;
    padding: 12px;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
