.monster__wrapper {
  margin: 0 auto 226px auto;
  padding: 0 64px;
  width: 1450px;
  .monster__container {
    display: grid;
    gap: 32px;
    padding: 64px 0;
    width: 1448px;
    height: 396px;
    .monster__title {
      // padding-bottom: 16px;
      font-size: 64px;
      margin-bottom: 0;
      margin-top: 0;
    }

    .monster__text p {
      padding-top: 32px;
      font-family: "roboto";
      line-height: 150%;
      font-style: italic;
      font-size: 18px;
      letter-spacing: 0%;
    }

    .monster__video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 600px;
      max-height: 400px;
      aspect-ratio: 3 / 2;
      margin: 0 auto;
    }

    .monster__video video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 0px 32px #e00000;
      display: block;
      background: black;
    }
  }
}

@media (min-width: 1024px) {
  .monster__container {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 16px;
  }

  .monster__content {
    grid-column: 6 span;
  }

  .monster__title {
    font-size: 48px;
  }

  .monster__video {
    grid-column: 8/13;
  }
}
