.forms__wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  max-width: 1448px;
  margin: 0 auto 240px auto;

  .forms__header {
    font-size: 64px;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 64px;
  }

  .forms__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    max-width: 1448px;
    height: 752px;

    .forms-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative; /* To handle z-index positioning */
      max-width: 720px;
      max-height: 240px;
      justify-content: center;
      align-content: center;
      padding: 32px;
    }

    .forms-card__video {
      width: 100%;
      height: 100%;
      max-width: 720px;
      max-height: 240px;
      object-fit: cover;
      z-index: 1;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
    }

    .forms-card__header {
      align-self: center;
      z-index: 2;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 30px;
    }

    .forms-card__text {
      align-self: center;
      z-index: 2;
      padding-top: 10px;
      font-size: 16px;
      text-align: center;
      font-style: italic;
      line-height: 150%;
      font-family: "roboto";
    }
  }
}
