.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .hero__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .hero__background-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero__background-gradient {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.65) 28.17%,
        rgba(0, 0, 0, 0.9) 58.6%,
        #000000 100%
      );
    }
  }

  .hero__content {
    margin: 50px;
    .hero__title {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 96px;
      margin: 50px;
      // text-transform: uppercase;

      text-align: center;
    }
  }
}
