.revenge {
  max-width: 1448px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin: 0 auto 240px auto;

  &__header {
    text-align: center;
    margin-bottom: 64px;
    font-family: "Impact";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #e00000;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 138px;

    img {
      width: 720px;
      height: 400px;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      text-transform: uppercase;
      color: #e00000;
      margin-bottom: 24px;
    }
    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #e00000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      white-space: pre-line;
    }
  }
}
